.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 69, 133);
}
.signupContainer {
  background-color: rgb(238, 238, 238);
  padding: 4rem 0;
  width: 40%;
}
.signupContainer h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: rgb(3, 103, 197);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.inputContainer input {
  background-color: rgb(238, 238, 238);
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(3, 103, 197);
  outline: none;
  letter-spacing: 0.08rem;
  width: 70%;
  font-size: 0.9rem;
  -webkit-text-fill-color: rgb(3, 103, 197);
}

.inputContainer .loginBtn {
  padding: 0.7rem 0;
  width: 40%;
  font-size: 0.9rem;
  background-color: rgb(211, 0, 0);
  color: white;
  border: 1px solid rgb(211, 0, 0);
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.5s ease;
  letter-spacing: 0.05rem;
  margin-top: 1em;
}
.inputContainer .loginBtn:hover {
  background-color: rgb(235, 8, 8);
  transform: scale(1.05);
}

.inputContainer p {
  margin-top: 1rem;
  transition: 0.5s ease;
}
.inputContainer p:hover {
  transform: scale(1.03);
}
